/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: url("lanb.jpg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

/* Overlay Effect */
.overlay {
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(3px);
    z-index: -1;
    background-image: url(l2.jpeg);
}

/* HEADER */
.header {
    text-align: center;
    padding-top: 50px;
}

.header h1 {
    font-size: 42px;
    font-weight: 700;
    color: #1d3557;
    letter-spacing: 2px;
}

.header h2 {
    font-size: 26px;
    font-weight: 500;
    margin-top: 10px;
    color: #34495e;
}

.header p {
    margin-top: 15px;
    font-size: 18px;
    color: #555;
}

/* CARD CONTAINER */
.card-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 80px;
}

/* CARD BUTTON STYLE */
.card {
    width: 260px;
    height: 260px;
    background: #ffffff00;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    text-decoration: none;
    color: #a7c3ea;
    font-weight: 600;
    font-size: 20px;

    padding: 20px;

    transition: all 0.4s ease;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.043);
    transform-style: preserve-3d;
}

/* ICON */
.card img {
    width: 90px;
    margin-bottom: 20px;
    transition: transform 0.4s ease;
}

/* 3D HOVER EFFECT */
.card:hover {
    transform: translateY(-15px) rotateX(8deg) rotateY(-8deg);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);
}

.card:hover img {
    transform: scale(1.15) rotate(5deg);
}

/* CLICK EFFECT */
.card:active {
    transform: scale(0.95);
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .card-container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}
